# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
hello-react/node_modules
hooks-tutorial/node_modules
todo-app/node_modules
immer-tutorial/node_modules
router-tutorial/node_modules
hello-react/.pnp
hooks-tutorial/.pnp
todo-app/.pnp
immer-tutorial/.pnp
router-tutorial/.pnp
.pnp.js

# testing
hello-react/coverage
hooks-tutorial/coverage
todo-app/coverage
immer-tutorial/coverage
router-tutorial/coverage

# production
hello-react/build
hooks-tutorial/build
todo-app/build
immer-tutorial/build
router-tutorial/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
